/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --paragraph-color: #F1B2CE;
  --title-color: #DB00FF;
  --main-font: 'IBM Plex Mono', Arial, sans-serif;
  --font-size: 18px;
  --hover-color: #32312D66;
  --decor-element-visibility: visible;
}
